*.tfstate
.tfstate.
.terraform/
.terraformrc
*.tfvars
*.tfvars.json
crash.log
crash.*.log
pycache/
*.pyc
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/
.vscode/
.pytest_cache/
.dockerignore
cloudbuild.yaml